
<%- include("partials/header"); -%>
<a href="/logout" class="btn btn-primary float-right" style="float: right;" >Log Out</a>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>

 
  <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
     <a href="/delete/<%=post._id%>">Remove </a>
    </p>
    <% }) %>

  <a href="/compose" class="btn btn-primary" >New Blog</a>

<%- include("partials/footer"); -%>
